submit.py
scripts/run_all_exps.sh
misc
viewer
run-long.sh
/database/processed
/database/configs
/database/raw
/database/ama
/database/polycam
/database/record3d
/database/synthetic
/database/motion
/database/aria
/logdir*
/tmp

__pycache__/
build/
*.egg-info/
*.so
*.pth

preprocess/third_party/vcnplus/vcn_rob.pth
preprocess/third_party/viewpoint/human.pth
preprocess/third_party/viewpoint/quad.pth
preprocess/third_party/omnivision/*.ckpt
