[submodule "preprocess/third_party/detectron2"]
	path = preprocess/third_party/detectron2
	url = https://github.com/facebookresearch/detectron2
    ignore = dirty
[submodule "preprocess/third_party/Track-Anything"]
	path = preprocess/third_party/Track-Anything
	url = https://github.com/gengshan-y/Track-Anything
[submodule "docs/pytorch_sphinx_theme"]
	path = docs/pytorch_sphinx_theme
	url = https://github.com/gengshan-y/pytorch_sphinx_theme
[submodule "projects/ppr/ppr-diffphys"]
	path = projects/ppr/ppr-diffphys
	url = https://github.com/gengshan-y/ppr-diffphys.git
[submodule "projects/ppr/eval/third_party/ChamferDistancePytorch"]
	path = projects/ppr/eval/third_party/ChamferDistancePytorch
	url = https://github.com/ThibaultGROUEIX/ChamferDistancePytorch
[submodule "projects/gd-mdm"]
	path = projects/gd-mdm
	url = https://github.com/gengshan-y/gd-mdm.git
